{% extends 'base.html' %}

{% block content %}

<div class="mt-4">
    <ul class="space-y-1">
        <a class="block p-2 md:w-4/5 mx-auto rounded-lg border hover:bg-gray-100 hover:border-gray-200">
            <p class="text-xl font-semibold">{{ topic.title }}</p>
            <p class="text-gray-600 break-words">{{ topic.content }}</p>
            <p class="text-blue-600 flex justify-end">{{ topic.user_id.username }} - {{topic.created_at}}</p>
        </a>
        {% for post in posts %}
        <li>
            <a class="block p-2 md:w-4/5 mx-auto rounded-lg border hover:bg-gray-100 hover:border-gray-200">
                {% if post.content == None %}
                    <p class="text-gray-300 break-words">Deleted</p>
                    <p class="text-blue-600 flex justify-end">{{post.created_at}}</p>
                {% else %}
                <p class="text-gray-600 break-words">{{ post.content }}</p>
                <p class="text-blue-600 flex justify-end">{{ post.user_id.username }} - {{post.created_at}}</p>
                {% if request.user.username == post.user_id.username %}
                <div class="flex space-x-4">
                    <button type="submit" class="text-blue-300 hover:underline">Edit</button>
                    <form method="post" action="{% url 'delete_post' post_id=post.post_id %}">
                        {% csrf_token %}
                        <button type="submit" class="text-red-500 hover:underline">Delete</button>                    </form>
                </div>

                {% endif %}
                {% endif %}


            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="mt-4">
    <ul class="pagination flex justify-end">
        {% if posts.paginator.num_pages > 1 %}
        {% if posts.has_previous %}
        <li><a href="?page={{ posts.previous_page_number }}" class="px-2 py-1 border rounded">Previous</a></li>
        {% endif %}

        {% for page_num in posts.paginator.page_range %}
        <li>
            <a href="?page={{ page_num }}"
                class="px-2 py-1 border rounded{% if page_num == topics.number %} bg-blue-600 text-white{% else %} hover:bg-gray-100 hover:border-gray-200{% endif %}">
                {{ page_num }}
            </a>
        </li>
        {% endfor %}
        {% if posts.has_next %}
        <li><a href="?page={{ posts.next_page_number }}" class="px-2 py-1 border rounded">Next</a></li>
        {% endif %}
        {% endif %}

    </ul>
</div>


{% if request.user.is_authenticated %}
<div class="flex flex-col">
    <form method="post" action="{% url 'topics' topic_id=topic.topic_id %}"
        class="block p-2 md:w-4/5 mx-auto rounded-lg border hover:bg-gray-100 hover:border-gray-200">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-auto flex justify-end">
            <button type="submit" class="bg-blue-600 hover:bg-blue-800 text-white font-semibold py-2 px-4 rounded">
                Post
            </button>
        </div>

    </form>
</div>
{% endif %}
{% endblock %}