<title>{{ category.category_name }} Topics</title>
<h1>{{ category.category_name }} Topics</h1>
<ul>
    {% for topic in topics %}
    {% if topic.category_id == category %}
    <li>
        <a href="{% url 'topics' topic_id=topic.topic_id %}">{{ topic.title }} - {{topic.content}} - {{topic.user_id.username}}</a>
    </li>
    {% endif %}
        {% endfor %}
    <form method="post" action="{% url 'category_topics' category_id=category.category_id %}">
        {% csrf_token %}
        <input type = "hidden" value="{{ category.category_id }}">
        {{ form.as_p }}
        <button type="submit">Create Topic</button>
    </form>
</ul>
<a href="{% url 'dashboard' %}">Back to dashboard</a>
